@import '@assets/../mixins.less';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    &-guest {
        &:extend(.wrapper);
        background-color: @powder;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        padding: .basis(2)[];
        text-align: center;
        font-size: .basis(3)[];
        font-weight: bold;
    }
}

.cat {
    font-size: .basis(6)[];
}

.image-container {
    position: relative;
    width: 100%;
    margin-bottom: .basis(3)[];
    flex-grow: 1;
}

.image {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    object-fit: contain;

    &-placeholder {
        background-color: @dimcoal;
        width: 100%;
        height: 100%;
        border: 2px solid @powder;
    }
}

.button {
    position: relative;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
}

.confetti {
    position: relative;
    left: 50%;
}

.beater {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}