@import '../../mixins.less';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


// .username {
//     &:extend(.input);
// }

.password {
    &:extend(.input);
}

.email {
    &:extend(.input);
}