@import '../../mixins.less';

@lh: 1.15em;
@lhplus: calc(@lh + 2px);

.wrapper {
    display: block;
    position: relative;
    width: 80%;
    //  Extra 2px seems to help adjust
    margin-bottom: .basis(1)[];
    padding-bottom: calc(@lhplus + 10px);
    .nunito();
    font-size: .basis(3)[];
    line-height: @lh;
}

.input {
    width: 100%;
    position: absolute;
    top: @lhplus;
    left: 0;
    margin: 0;
    padding: 5px 8px;
    font-size: 1em;
    .system();
    border: none;
    border-radius: 4px;
    border-image: none;
    border-image-width: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    
    &-bg-before, &-bg-after {
        &:extend(.input);
        background: linear-gradient(110deg, @turquoise 0%, fadeout(@turquoise, 80%) 45%, transparent 100%);
        display: block;
        position: absolute;
        top: @lhplus;
        left: 0;
        width: 100%;
        font-size: 1em;
        opacity: 1;
        transition: opacity 300ms ease-in;
    }
    
    &-bg-after {
        background: linear-gradient(110deg, transparent 0%, fadeout(@seafoam, 80%) 65%, @seafoam 100%);
        opacity: 0;
        transition: opacity 300ms ease-out;
    }
    
    
    &-filled, &:focus {

        ~.input-bg-after {
            opacity: 1;
        }

        ~.input-bg-before {
            opacity: 0;
        }
    }
}