@import '../../../shared/mixins.less';

.header {
    background-color: @darcoal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: .basis(3)[];
    display: flex;

}

.navlink {
    .concert();
    // .fz(venti);
    font-size: .basis(3)[];
    line-height: 1em;
    // padding-left: .25em;
    margin-right: .5em;
    text-decoration: none;
    // text-justify: center;
    // text-align: center;
    // display: flex;
    // // justify-content: center;
    // // align-content: center;
    // align-items: center;
    // // justify-items: center;
}