@import '../../assets/less/mixins.less';

.header {
    background-color: @powder;
    display: block;
    padding: .basis(3)[];

    .above(md; {
        padding: .basis(2)[];
    });

    
    &-a {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
        justify-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        .above(md; {
            display: none;
            visibility: hidden;
        });
    }

    &-b {
        display: none;
        position: relative;
        left: -40%;
        width: 140%;
        padding-left: calc(40% + .basis(2)[]);
        transform: skewX(25deg);
        visibility: hidden;
        
        .above(md; {
            display: block;
            visibility: visible;
        });

        .above(1050px, {
            transform: skewX(35deg);
        });
        
        .above(lg; {
            transform: skewX(40deg);
        });
    }
}

.navlink {
    margin-right: .5em;
    .nunito();
    font-size: .basis(4)[];
    line-height: 1em;
    text-decoration: none;
    
    .above(md; {
        font-size: .basis(3)[];
    });
}