@import './assets/less/global.less';

.layout {
    background: linear-gradient(fadeout(@turquoise, 10%), fadeout(@magenta, 10%));
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: .basis(2)[];
    color: @darcoal;
    
    .above(md; {
        background: 
            linear-gradient(fadeout(@turquoise, 40%), fadeout(@magenta, 30%)),
            url('~assets/cat-bg.jpg') center 30%;
        background-size: cover;
    });
}

.right-division {
    content: '';
    background-color: @darcoal;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: skewX(-25deg);
    
    .above(md; {
        transform: skewX(-25deg);
    });

    .above(1000px, {
        transform: skewX(-35deg);
    });

    .above(lg; {
        transform: skewX(-40deg);
    });
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .interpolate(80vmin, 60vmin)[];
    height: 80vmin;
    z-index: 1;
    transform: translate(-50%, -50%);
    
    .above(sm; {
        height: .interpolate(70vmin, 60vmin)[];
    });

    .above(md; {
    });
}

.footer {
    background-color: @charcoal;
    background-color: @coal;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .basis(3)[];
    // color: darken(@charcoal, 3%);
    color: @turquoise;
    z-index: 1;

    .nunito();
    font-size: .basis(3)[];
    line-height: .basis(4)[];
    text-decoration: none;    
    
    .above(md; {
        align-content: flex-start;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: flex-start;
        padding: .basis(2)[];
        font-size: .basis(3)[];
        line-height: 1em;
        z-index: 0;
    });
}

.footer-link {
    color: inherit;
}