@import './global.less';

.layout {
    background: linear-gradient(fadeout(@turquoise, 10%), fadeout(@magenta, 10%));
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: .basis(2)[];
    color: @darcoal;
        
    .above(md; {
            background: 
                linear-gradient(fadeout(@turquoise, 40%), fadeout(@magenta, 30%)),
                url('~assets/cat-bg-1.jpg') center 30%;
    });
}

.right-division {
    content: '';
    background-color: @darcoal;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: skewX(-25deg);
    
    .above(md; {
        transform: skewX(-40deg);
    });
}

.main {
    background-color: @powder;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .interpolate(80%, 60%)[];
    height: 60%;
    z-index: 1;
    transform: translate(-50%, -50%);
    
    .above(md; {
        height: 50vw;
        min-height: .basis(50)[];
    });
}

.footer {
    background-color: @powder;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .basis(9)[];
    z-index: 1;
    
    .above(md; {
        z-index: 0;
    });
}

.i18n {
}