@import './global.less';


.layout {
    background-color: @honeydew;
    display: grid;
    grid-template: auto / 1fr 10fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 100vh;
    perspective: 60em;
    font-size: .basis(2)[];
    color: @darcoal;
    
    .above(md; {
        grid-template: auto / 1fr .basis(80)[] 1fr;
    });
    
    .above(lg; {
        grid-template: auto / 1fr .basis(70)[] 1fr;
    });

    @supports not (display:grid) {
        display: flex;
        flex-direction: column;
    }
}
.main {
    grid-column: 2 / 1;
    // background: resolve('./react.png');
    // background: url('aaaa/react.png');
    background: url('~assets/react.png');
    background-repeat: repeat;

    @supports not (display:grid) {
        width: 90%;
    }
}