@import './mixins.less';
@import './fonts.less';
@import-normalize;

* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(@magenta, @darcoal);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: .basis(3)[];
    .system();
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    .nunito()
}

:global(.unbutton) {
    background: none;
    margin: 0;
    padding: 0;
    appearance: none;
    font-size: 1em;
    line-height: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    border-image: none;
    border-image-width: 0;
}

button {
    &:extend(:global(.unbutton));
    background: linear-gradient(-85deg, @seafoam 0%, @turquoise 100%);
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 8px;
    //TODO: what is user-select?
}


a, :global(.link) {
    color: @cerulean;
    text-decoration: underline;
    
    &:focus, &:hover {
        background: linear-gradient(to right, @goldenrod, @magenta);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        text-shadow: none;
        text-decoration: underline;
        text-decoration-color: @ash;
    }
}