@import './mixins.less';
@import './fonts.less';
@import-normalize;

* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    // font-family: arial;
    font-display: swap;
    // .rubik();
    .system();
    
    // line-height: 1em;
    font-size: .basis(3)[];
}

h1, h2, h3, h4, h5, h6 {
    .concert()
}

// button {
//     border: none;
//     appearance: none;
//     outline: none;
//     // .rubik();
// }

.link, a {
    // color: black;

    // &:hover {
    //     color: @red;
    // }

    // &:visited {
    //     color: @dimred;

    //     &:hover {
    //         color: @red;
    //     }
    // }
}


a {
    color: @cerulean;
    
    &:focus, &:hover {
    // a:not(.button):not(.commentPreviewButton):not(.comment-reply-link):focus, a:not(.button):not(.commentPreviewButton):not(.comment-reply-link):hover {
        // background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
        background: linear-gradient(to right,#ff8a00,#da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        text-shadow: none;
        text-decoration: underline;
        -webkit-text-decoration-color: #ccc;
        text-decoration-color: #ccc;
    }
}